html{
overflow: hidden; 
height: 100%;
 background: #c72;}
body{
 background:url("C:\Users/IRISHKA/Desktop/Project/images/logo.jpg");
background-size: cover;
overflow: auto; 
height: 100%;
 width: 800px;
 padding: 0 20px;
 border: 1px solid black;
 border-width: 0 1px;

  width:1000px;
  margin: 0 auto;

}

.home{
padding:3px 20px 3px 20px;
background:orange;
text-shadow: 2px 2px 3px black, 0 0 1em sandybrown; 
color: white; 
 border-radius:15px;
font-size: 1.2em}
.create{
padding:3px 3px;
background:orange;
text-shadow: 2px 2px 3px black, 0 0 1em sandybrown; 
color: white; 
 border-radius:15px;
font-size: 1.2em}

.list_article{
width:50%;
height:100%;
margin:20px 0;
position:relaive;
text-shadow: 2px 2px 3px black, 0 0 1em sandybrown; 
color: green; 
font-size: 2em;
position:absolute;
border:1px solid green;
}
.add_article{
width:50%;
margin:20px 0;
position:relaive;
text-shadow: 2px 2px 3px black, 0 0 1em sandybrown; 
color: green; 
font-size: 2em;
position:absolute;
border:1px solid green;
}
ul{
text-shadow: 2px 2px 3px black, 0 0 1em sandybrown; 
color: green; 
font-size: 1.5em;
}
.right{
margin-left:auto;
width:25%;
text-shadow: 2px 2px 3px black, 0 0 1em sandybrown; 
color: green; 
font-size: 1em;
}
.on_off{
padding:3px 3px;
background:limegreen;
text-shadow: 2px 2px 3px black, 0 0 1em sandybrown; 
color: white; 
margin:0 0 0 62%;
 border-radius:15px;
font-size: 1.2em;}

.sub{
padding:2px 6px 2px 6px; 
margin:0 0 0 73%;
background:orange;
text-shadow: 2px 2px 2px black, 0 0 1em sandybrown; 
color: white; 
position:relative;
 border-radius:15px;
font-size: 1em;
}
.text{
width:500px;
height:25px;
background:palegreen;}
.textarea{
margin:2% 0 0 16%;
width:500px;
height:300px;
background:palegreen;
z-index:2;
}
.textbody{
position:absolute;
}
hgroup{text-align:center;}
